<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_enemy_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{123,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,82}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>attack_enemy_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{123,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,81}}</string>
                <key>sourceSize</key>
                <string>{123,81}</string>
            </dict>
            <key>attack_enemy_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,169},{123,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,78}}</string>
                <key>sourceSize</key>
                <string>{123,78}</string>
            </dict>
            <key>attack_enemy_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{123,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,82}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>attack_enemy_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,81}}</string>
                <key>sourceSize</key>
                <string>{127,81}</string>
            </dict>
            <key>attack_enemy_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,86},{123,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,81}}</string>
                <key>sourceSize</key>
                <string>{123,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack_enemy_2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aec1fe8d0e656025dea8dcf79e8794ec:745e61cf5fce9cdfd3ceac79544773ba:614a712a203ed2b51ba626a08b5148e4$</string>
            <key>textureFileName</key>
            <string>attack_enemy_2.png</string>
        </dict>
    </dict>
</plist>
