<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_enemy_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,88},{123,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,82}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>attack_enemy_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{123,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,84}}</string>
                <key>sourceSize</key>
                <string>{123,84}</string>
            </dict>
            <key>attack_enemy_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,86}}</string>
                <key>sourceSize</key>
                <string>{123,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack_enemy_1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2d65fb392798e9d15a45c40d65ae7a0:b208e2b580e522259436c2208b29c05e:1f894022dbef01716fceb77b709740f5$</string>
            <key>textureFileName</key>
            <string>attack_enemy_1.png</string>
        </dict>
    </dict>
</plist>
