<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>follow_enemy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,104}}</string>
                <key>sourceSize</key>
                <string>{154,104}</string>
            </dict>
            <key>follow_enemy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{152,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,83}}</string>
                <key>sourceSize</key>
                <string>{152,83}</string>
            </dict>
            <key>follow_enemy_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{152,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,90}}</string>
                <key>sourceSize</key>
                <string>{152,90}</string>
            </dict>
            <key>follow_enemy_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,155},{151,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,98}}</string>
                <key>sourceSize</key>
                <string>{151,98}</string>
            </dict>
            <key>follow_enemy_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{151,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,77}}</string>
                <key>sourceSize</key>
                <string>{151,77}</string>
            </dict>
            <key>follow_enemy_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{151,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,95}}</string>
                <key>sourceSize</key>
                <string>{151,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>follow_enemy.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2f45726570e101a167a9f569301a2b1:1afe945e684642d4d05ca57744db74e1:a394f6de4b5e1dcc6d0bb59c2593a5ec$</string>
            <key>textureFileName</key>
            <string>follow_enemy.png</string>
        </dict>
    </dict>
</plist>
