<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>normal_enemy_1_forth_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{117,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,62}}</string>
                <key>sourceSize</key>
                <string>{117,62}</string>
            </dict>
            <key>normal_enemy_1_forth_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,63}}</string>
                <key>sourceSize</key>
                <string>{117,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>normal_enemy_1_forth.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f98561dca9f285bda853031ac8f8813:a8db4a6743e091abb0e511cee488361f:49c6d1232d22228b4a8a9956c5d26310$</string>
            <key>textureFileName</key>
            <string>normal_enemy_1_forth.png</string>
        </dict>
    </dict>
</plist>
