<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>normal_enemy_1_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{117,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,62}}</string>
                <key>sourceSize</key>
                <string>{117,62}</string>
            </dict>
            <key>normal_enemy_1_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,63}}</string>
                <key>sourceSize</key>
                <string>{117,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>normal_enemy_1_back.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef048049a579422365238018ab26bf7d:1a6726c4a1e307b297bacddc249fb62a:537bfbe6b8c466a94b1821bae1542aaa$</string>
            <key>textureFileName</key>
            <string>normal_enemy_1_back.png</string>
        </dict>
    </dict>
</plist>
