<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_speedy_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,81}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{111,81}}</string>
                <key>sourceSize</key>
                <string>{133,81}</string>
            </dict>
            <key>player_speedy_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{105,83}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{105,83}}</string>
                <key>sourceSize</key>
                <string>{133,83}</string>
            </dict>
            <key>player_speedy_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{105,83}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{105,83}}</string>
                <key>sourceSize</key>
                <string>{133,83}</string>
            </dict>
            <key>player_speedy_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{107,83}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{107,83}}</string>
                <key>sourceSize</key>
                <string>{133,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_speedy_run.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b4d3d6bb371e50a44fbd8a2b18a1822:1157a005d054f4a51471a7a484839228:6ceac6058882696223a734fc68a5c2d8$</string>
            <key>textureFileName</key>
            <string>player_speedy_run.png</string>
        </dict>
    </dict>
</plist>
