<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_normal_jump_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,79}}</string>
                <key>sourceSize</key>
                <string>{71,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_normal_jump.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdae63ff3a4ee0ffe0ed19e3b34fc8cd:3db0218e7add977e7e8af7ddc75f6086:76ab94e861d9a2b153e5acd18c22848d$</string>
            <key>textureFileName</key>
            <string>player_normal_jump.png</string>
        </dict>
    </dict>
</plist>
