<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,173}}</string>
                <key>sourceSize</key>
                <string>{160,173}</string>
            </dict>
            <key>c002.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{150,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,178}}</string>
                <key>sourceSize</key>
                <string>{150,178}</string>
            </dict>
            <key>c003.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{150,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,177}}</string>
                <key>sourceSize</key>
                <string>{150,177}</string>
            </dict>
            <key>c004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{150,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,179}}</string>
                <key>sourceSize</key>
                <string>{150,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spirit.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfccdee4148bec55a8d87ead7104342b:94059c46f9de90ae08f24c6442c87f11:b750847f5606352cfd1c25dfc52dc2c5$</string>
            <key>textureFileName</key>
            <string>spirit.png</string>
        </dict>
    </dict>
</plist>
